.carrucel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4%;
}
.CarrucelWidth{
    width: 30%;
}
.CarrucelText{
    margin-top: 6%;
    font-size: 4rem;
    width: 34%;
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    color: rgb(60, 60, 60);
}
.carrucelImage{
    height: 450px;
}
.aboutDescription{
    font-size: 1rem;
    font-weight: 100;
}
.aboutDescription-2{
    font-size: 0.9rem;
    font-weight: 100;
    font-family: 'Chakra Petch';
    color: gray;
}
.buttonPdf{
    background-color: rgb(60, 60, 60);
    color: white;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    padding: 6px;
    text-decoration: none;
    margin-bottom: 5px;
    box-shadow: 2px 2px 10px rgba(60, 60, 60, 0.404);
}
.buttonPdf:hover{
    color: white;
}

@media (max-Width: 780px){
    .buttonPdf{
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 0px;
    }
    .carrucel{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 6%;
    }
    .CarrucelWidth{
        width: 90%;
    }
    .CarrucelText{
        margin-top: 4%;
        font-size: 30px;
        width: 80%;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
    }
    .carrucelImage{
        width: 400px;
        height: 100%;
    }
}